{% extends 'pactNewsBranch_template.html' %}


{% block title %}Главная{% endblock %}

{% block top_adding_searching %}
{% if request.user.is_staff %}
<a class="w-25 btn btn-lg btn-primary button_add" href="{% url 'add_news' %}">Добавить новость</a>
{% endif %}
<form class="search_form" method="GET" action="{% url 'search_news' %}">
    {% if search %}
    <input type="search" class="form-control" name="search" value="{{ search }}">
    {% else %}
    <input type="search" class="form-control" name="search" placeholder="Поиск по заголовку...">
    {% endif %}
</form>
{% endblock %}

{% block out_data_list %}
<a class="list-group-item list-group-item-action d-flex gap-3 py-3 rounded-4 list_group_data"
   href=""
   data-bs-toggle="modal" data-bs-target="#detailed"
   data-modal="news"
   data-news="{{ item.name }}"
   data-description="{{ item.description }}">
    <img class="rounded-circle icon_data_group_list" src="/media/rup.png">
    <div class="d-flex w-100 justify-content-between">
        <div>
            <h6 class="mb-0">{{ item.name }}</h6>
            <p class="mb-0 opacity-75">Кликай для подробностей</p>
        </div>
        <small class="opacity-50">{{ item.addDate }}</small>
    </div>
</a>
{% endblock %}

{% block modal-header %}
<h5 class="modal-news" id="news"></h5>
{% endblock %}

{% block modal-body %}
<p class="modal-description" id="description"></p>
{% endblock %}
