{% extends 'base.html' %}
{% load branch_tags %}

{% block title %}Профиль{% endblock %}

{% block content %}

<div style="background-color: white; width: 1000px; padding: 16px; margin: 15px auto; border-radius: 15px" class="container main-container">
    <a class="btn btn-primary btn-lg w-25" href="{% url 'edit_profile' username pk %}">Изменить</a>
    <p></p>
    <img class="rounded-circle staff_photo" src="{{ photo }}">
    {% for key, value in profile.items %}
    <div class="fs-3">{{ key }}: {{ value }}</div>
    {% endfor %}
</div>

{% endblock %}
