{% extends 'staffs_template.html' %}

{% block title %}Архив сотрудников{% endblock %}

{% block archive %}
{% if check == 0 %}
<a class="w-25 btn btn-lg btn-outline-primary button_adds" href="{% url 'staff_branch_archive' branch_id %}">В архив</a>
{% else %}
<a class="w-25 btn btn-lg btn-outline-primary button_adds" href="{% url 'branch' branch_id %}">Выйти из архива</a>
{% endif %}

{% endblock %}
{% block search %}
<form class="search_form" method="GET" action="{% url 'get_branch_search' branch_id %}">
    <input type="search" class="form-control" name="search" placeholder="Поиск по фамилии...">
</form>
{% endblock %}
