{% extends 'staffs_template.html' %}

{% block title %}Архив сотрудников{% endblock %}

{% block archive %}
    {% if branch_id %}
    <a class="w-25 btn btn-lg btn-outline-primary button_adds" href="{% url 'staff_branch' branch_id %}">Выйти из архива</a>
    {% else %}
    <a class="w-25 btn btn-lg btn-outline-primary button_adds" href="{% url 'staff' %}">Выйти из архива</a>
    {% endif %}
{% endblock %}

{% block search %}
    {% if branch_id %}
    <form class="search_form" method="GET" action="{% url 'staff_archive_branch' branch_id %}">
        <input type="search" class="form-control" name="search" placeholder="Поиск по фамилии...">
    </form>
    {% else %}
    <form class="search_form" method="GET" action="{% url 'staff_archive' %}">
        <input type="search" class="form-control" name="search" placeholder="Поиск по фамилии...">
    </form>
    {% endif %}
{% endblock %}

{% block card_buttons %}
<a class="btn btn-outline-primary staff_bottom_buttons fw-bold"
   href="{% url 'staff_to_archive' item.pk %}">Вернуть из архива</a>
<a class="btn btn-outline-danger staff_bottom_buttons fw-bold"
   href="{% url 'staff_delete' item.pk %}">Уволить</a>
{% endblock %}
